*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #15212d;
}

section{
    color: #fff;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.arrow{
    /* background: #fff ; */
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(-0.25turn);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.arrow.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}